/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/
* {
  margin: 0;
}
body {
  padding-top: 100px;
}
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(193, 193, 193);
  height: 100px;
}
.logo {
  float: left;
}
nav h2 {
  color: rgb(97, 78, 53);
  margin: 0;
  text-align: center;
  padding: 30px;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}

#enlace {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
}

aside {
  left: 0;
  position: fixed;
  background-color: rgb(48, 113, 113);
  width: 8%;
}
aside a {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}